* {
  box-sizing: border-box;
}

html {
  font-size: 62.6%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

/* =====================common========================== */
a {
  text-decoration: none;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  display: inline-block;
  min-width: 205px;
  line-height: 60px;
  border-radius: 999px;
  background: #2e80ce;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
}

.btn:hover {
  opacity: 0.9;
}

.heading-lv2 {
  color: #10375c;
  text-align: center;
  font-family: Sora;
  font-size: 5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}

/* ======================header========================= */
.header {
  background: #10375c;
  height: 800px;
  padding-top: 30px;
}

/* header-top */
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
}
.nav__item a {
  color: #c9d2da;
  text-align: center;
  font-family: Sora;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75; /* 175% */
  padding: 8px 21px;
}
.action__btn--login:hover,
.nav__item a:hover {
  text-shadow: 1px 0 0 currentColor;
  color: #fff;
}

.nav__link--ative::before {
  content: " ";
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  right: 8px;
  top: -2px;
}
.action__btn--login {
  color: #c9d2da;
  text-align: right;
  font-family: Sora;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75; /* 175% */
  margin-right: 28px;
}

.action__btn--singup {
  min-width: 104px;
  line-height: 44px;
  font-size: 1.6rem;
}

/* header-bottom */
.header-bottom {
  display: flex;
  align-items: center;
  margin-top: 76px;
}

/* header-bottom-left */
.header-bottom__left {
  width: 44%;
}

.header-bottom__left--heading {
  color: #fff;
  font-size: 7rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -1.4px;
}

.header-bottom__left--desc {
  color: #c9d2da;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
  margin-top: 22px;
}

.header__book-call {
  display: flex;
  margin-top: 38px;
  align-items: center;
  gap: 38px;
}
.book-call--tell {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}
.header-bottom__right {
  flex: 1;
}

.header-bottom__right figure {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-bottom__img--big {
  width: 330px;
  height: 540px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: -6px;
  z-index: 1;
}

.header-bottom__img--small {
  width: 210px;
  height: 410px;
  object-fit: cover;
  border-radius: 6px;
}

/* ======================main========================= */
/* services */
.services {
  padding: 170px 0px;
}

/* services-top */
.services-top__desc {
  max-width: 468px;
  margin: 0 auto;
  color: #575f66;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
  padding-top: 18px;
}

/* services-bottom */
.services-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

/* services-bottom */
/* services-bottom-left */
.services-bottom__img {
  width: 570px;
  height: 570px;
  flex-shrink: 0;
  border-radius: 12px;
  object-fit: cover;
}

/* service-bottom-right */
.services-item {
  display: flex;
  width: 470px;
  flex-shrink: 0;
  padding: 21px;
}

.services-item:hover {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.services-item__icon {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 50%;
  background: #eff6fd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.services-item:hover .services-item__icon {
  border-radius: 30px;
  background: #2e80ce;
  box-shadow: 0px 8px 16px 0px rgba(40, 155, 222, 0.15);
}

.services-item__content {
  margin-left: 19px;
}

.services-item__heading {
  color: #10375c;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
}

.services-item__desc {
  width: 308px;
  color: #575f66;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75; /* 175% */
  margin-top: 8px;
}
.services-btn {
  margin-top: 75px;
}

/* work */
.main-work {
  padding: 100px 0px;
  background: #f6fbff;
}

.work-body__heading {
  text-align: left;
}

.word-body__desc {
  width: 468px;
  color: #575f66;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.77; /* 166.667% */
  margin-top: 18px;
}

.work-list {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 46px;
}

.work-item {
  border-radius: 4px;
  background: #fff;
  padding: 43px;
  border: 16px solid #eaf6ff;
  transition: 0.3s;
}

.work-item:hover {
  transform: translateY(
    -16px
  ); /*transform: dùng để dịch theo trục vd: transform: translateY(-16px)
                                   dịch trục y lên 16px theo trục y ( trục y có tọa độ 0-100) từ trên xuống*/
  border-color: #2e80ce;
}

.work-item__icon {
  width: 72px;
  height: 72px;
  flex-shrink: 0;
}

.work-item__heading {
  color: #10375c;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.38; /* 138.462% */
  margin-top: 18px;
}

.work-item__desc {
  width: 254px;
  color: #575f66;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75; /* 175% */
  margin-top: 28px;
}

.work-item-link {
  color: #2e80ce;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75; /* 175% */
  display: block;
  margin-top: 18px;
}
